//main colors
$main_bg: #f1f1f1;

//secondary colors
$sidebar-top-color: #690800;

$left_bar_backing: #505050;

$header: #ffffff;

$hamburger_menu_bg: #f3d83f;

$hamburger_header_bg: #383838;

$hamburger_logout_bg: #f1eeee;

$footer: #444444;

$calendar_weekname_bg: #eaeaea;

